
<div class="contents-row">
  <% @questions.each do |question| %>
    <p><%= question.user.nickname %>さんの質問</p>
    <p><%= question.text %></p>
    <%= link_to 'この質問に対する回答を見る', "/#{question.chapter_number}/questions/#{question.id}", method: :get %>
  <% end %>
</div>