<div class="top-view-contents-row">
  <h2>下記質問を送信します。よろしいですか？</h2>
  <div class="attention">
    <p>※現在まだ質問の確認画面をご用意出来ておらず、１クリックで送信されます。</p>
    <p>※質問内容につきましては、ご確認の上、送信をお願いします。</p>
  </div>
  
  <div class="form">
    <div class="form-inner">
      <%= form_for @question, url: { action: "create" } do |f| %>
        <div class="form-group-2">
          <%= f.label :text, "質問内容" %><br/>
          <%= f.text_field :text %><br/>
          <%= submit_tag '送信' %>
        </div>   
      <% end %>
    </div>
  </div>

  
  
  
</div>

