<div class="Question-show">
  <div class="Q-area">
    <h2 class="Q-mark">Q</h2>
  </div>
  <div class="Q-text-area">
    <div class="text-area">
      <p><%= @question.text %></p>
    </div>
  </div>
</div>

<% @replies.each do |reply| %>
  <div class="Replies">
    <div class="A-icon">
      <h2 class="A">A</h2>
    </div>
    <div class="A-text-area">
      <div class="A-text">
        <p><%= reply.text %></p>
      </div>
    </div>
  </div>
<% end %>