<div class="site-title-sub">
  <h2 class="heading">未来に駆ける</h2>  
</div>

<div class="top-view-contents-title">
  <h3>マネーリテラシーの低い国、日本</h3>
</div>


<div class="top-view-contents">
  <p>マスターカード社が行った調査では、なんとアジア最下位</p>
  <p>このような現実をあなたはご存知でしょうか？</p>
  <br>
  <p>知らなくても仕方がありません。</p>
  <p>なぜなら日本には金融カリキュラムが通常の学校教育では一切ないのです。</p>
  <br>
  <p>今の私達は決して、多くの祖先と同じやり方で資産形成をすることは出来ません。</p>
  <p>もしあなたが、資産形成に対する取り組みを今それ程されていないなら、</p>
  <p>あるいは、ご自身で金融に対する体系的な知識をお持ちでないと感じるなら。</p>
  <p>このコンテンツを是非よく読んで頂きたいです。</p>
  <br>
  <p>社会人の方向けに書きましたが、高校生以上の方でしたら、是非読んで頂きたいです。</p>
  <p>事実アメリカでは、この金融に対する教育が高校のカリキュラムに入っているのです。</p>
  <p>そして、我々の愛するこの日本が、お金の知識について、実はアジア最下位というこの現実。</p>
  <p>これも悔しくないですか？</p>
  <br>
  <p>私は以前、会社組織の中での生き方や方向性に、非常に悩んでいました。</p>
  <p>この知識を知った時、すごい安心感を覚えると同時に、未来を違う方法で描けると確信したのです。</p>
  <p>もしこの世界をまだあまり知らない方だったら、もしかしたら、自分と同じように感じて頂けるかもしれない。</p>
  <p>その思いを込めて、このページを作成しました。</p>
</div>

