<div class="site-title-sub-0">
  <h2 class="heading">Chapter_3 投資と投機②</h2> 
</div>

<div class="top-view-contents-title">
  <h2>投資と投機の最も大きな違いは再現性</h2>
</div>

<div class="top-view-contents">
  <p>投機というのは、簡単に言うなら、宝くじやギャンブル、仮想通貨みたいなものです。</p>
  <p>宝くじは300円で買った時はただの紙切れです。一方で当たると急に何億円にもなったりします。</p>
  <p>ギャンブルもそうです。チップを置く。置いた時は価値がありませんが、何かチャンスに対して当たった時は、価値を持ちます。</p>
  <br>
  <p>仮想通貨もギャンブル性が高く、投機に当たります。</p>
  <p>仮想通貨はある社会、業界、コミュニティにおいて、その通貨が使われるかどうかによって、その価値が上がったり、下がったりします。</p>
  <p>こういう意味で将来のチャンスに対して投げていくので、投機の部類に該当します。</p>
  <br>
  <p>勿論真偽は分からないのですが、ビットコインなどは構造的な問題があるという話を聞いたことがあります。</p>
  <p>世界で発行されたビットコインを、実はこの世界の非常に限られた人達が持っていて、彼らが一部でもそれを市場で売りに出せば、その価値が暴落するという話です。</p>
  <p>本当かどうかは分かりませんが、果てしなく圧倒的な先行者利益の世界なのかもしれません。</p>
  <br>
  <p></p>
  
  <div class="next-action-button">
    <%= link_to '<< Contentsへ戻る', '/contents', class: "back-to-contents-li" %>
    <%= link_to 'Chapter_4    へ >>', '/4', class: "next-chapter-li" %>
  </div>
  <br>
  
  <div class="ask-about-questions">
    <h2>質問はございませんか？</h2>
  </div>
  <p>　金融教育2.0では質問がございましたら、回答させて頂きます。</p>
  <br>
  <div class="new-question-button">
    <%= link_to '質問を投稿する▶', '/3/questions/new', class: "new-question-button-li" %>
  </div>
  <br>
  <div class="questions-index-button">
    <%= link_to 'これまで頂いた質問はこちら ▶', '/3/questions', class: "questions-index-button-li" %>
  </div>
  <br>
</div>

