<div class="table-of-contents-title">
  <h2>Contents</h2>
</div>


<ul class="table-of-contents">
  <li><%= link_to 'Chapter 0: 手段と目的', '/0', class: "table-of-contents-li" %></li>
  <li><%= link_to 'Chapter 1: リスクとリターン', '/1', class: "table-of-contents-li" %></li>
  <li><%= link_to 'Chapter 2: 投資と投機', '/2', class: "table-of-contents-li" %></li>
  <li><%= link_to 'Chapter 3: 資産の種類', '/3', class: "table-of-contents-li" %></li>
</ul>
