<div class="table-of-contents-title">
  <h2>Contents</h2>
</div>


<ul class="table-of-contents">
  <li>Chapter 0: 手段と目的</li>
  <li>Chapter 1: リスクとリターン</li>
  <li>Chapter 2: 投資と投機</li>
  <li>Chapter 3: 資産の種類</li>
</ul>
