<div class="site-title-sub-0">
  <h2 class="heading">Chapter_0 手段と目的</h2> 
</div>

<div class="top-view-contents-title">
  <h2>あなたの目的は何ですか？</h2>
</div>

<div class="top-view-contents">
  <p>色々な質問を頂きますが、させて頂く共通の質問があります。</p>
  <br>
  <p>「あなたの目的は何ですか？」</p>
  <br>
  <p>旅行に例えるなら、どこに行こうかという目的地であり、そしてそこで何をするか、ということです。</p>
  <p>そしてその後に、方法を考えるはず。</p>
  <br>
  <p>日本人はお金や金融に関しては、この順序がひっくり返ることがよくあります。</p>
  <p>例えばビットコイン。それは手段にすぎないのに、最終ゴールが決まってないまま、まず一歩を踏み出してしまう。</p>
  <br>
  <p>金融に関しても、まず、目的を考えることが大切です。例えば、何歳の時にどんな状態になっていたいか、とか。</p>
  <p>勿論未来のことは分からないので、私達の多くは「幸せになっていたい。」と、とりあえず漠然と考えることが多いです。</p>
  <p>幸せの要素にも色々あると思います。家庭だったり、仕事や日々の生活や営みだったり。</p>
  <br>
  <p>このコンテンツではお金を取り上げます。</p>
  <p>日本人はお金に対するイメージがよくないように、戦後から、義務教育などですりこまれています。</p>
  <p>断言します。人生で最も大事なことはお金ではありません。</p>
  <p>一方でお金がやっぱり大切と、今回は一度立ち返って欲しいです。</p>
  <p>自分自身や、自分の大切な人に安心安全な生活を送れるようにする。</p>
  <p>今回はお金と真剣に向き合って欲しいです。</p>
  <p>そしてご自身の生き方や目的を叶える上で、お金になるべく困らないようにするために、どういうアプローチを取るべきか。</p>
  <br>
  <p>例えば検索して見て欲しいです。</p>
  <p>大阪、投資、セミナーとか、ネットで検索すると沢山出てきます。</p>
  <p>そこで出てくるのは、FX、株、不動産、とかっていうのが出て参ります。</p>
  <p>これってあくまでも手段なんですよね。金融のベースの考え方とかは、ほとんどの場合出て来ないです。</p>
  <br>
  <p>投資セミナーなどで、よく見られて良くないなと思うことは、セミナーが終わると、こういう風に言われることです。</p>
  <p>「あなたが今聞いているセミナーを前に聞いた人は１年経った今、こんな風になっています。今あなたが一歩を踏み出せば、あなたの未来も開けます。逆に始めなければ、今のままです。」</p>
  <p>これは心理学的にも結構バイアスがかかることです。</p>
  <p>多くの人がこうなると、やるか、やらないかの2択になります。</p>
  <p>これは自分もよく経験があるのですが、やるなら１００％、やらないなら全くやらない。という風になりがちです。特に日本人は。</p>
  <br>
  <p>「金融の世界ではリターンが高いものはいつ無くなるか分かりません。」</p>
  <p>この点をよく意識いただいて、本当に、今自分がやろうとしている事は、今のタイミングで合っているのか、よく考えてもらえればと思います。</p>
  <p>次章で「リスクとリターン」について説明します。これは言葉通りの意味なのですが、真の意味で理解されている人はやはり少ないと思っています。</p>
  <p>手段として何を用いるかは、勿論とても大切なのですが、次章から背景になるベースの部分を説明させて頂きます。</p>
  <br>
  
  
  
  <div class="ask-about-questions">
    <h2>質問はございませんか？</h2>
  </div>
  <p>　金融教育2.0では質問がございましたら、回答させて頂きます。</p>
  <br>
  
  <div class="new-question-button">
    <%= link_to '質問を投稿する ▶︎', '/0/questions/new', class: "new-question-button-li" %>
  </div>
  <br>
  <div class="questions-index-button">
    <%= link_to 'これまで頂いた質問はこちら ▶︎', '/0/questions', class: "questions-index-button-li" %>
  </div>
  <br>
</div>
