<div class="site-title-sub-0">
  <h2 class="heading">Chapter_0 手段と目的</h2> 
</div>

<div class="top-view-contents-title">
  <h2>あなたの目的は何ですか？</h2>
</div>

<div class="top-view-contents">
  <p>旅行に例えるなら、どこに行こうかという目的地。</p>
  <p>日本人はお金や金融に関しては、この順序がひっくり返る。</p>
  <br>
  
  <div class="ask-about-questions">
    <h3>質問はございませんか？</h3>
  </div>
  <br>
  <p>　　金融教育2.0では質問がございましたら、回答させて頂きます。</p>
  <br>
  
  <div class="new-question-button">
    <%= link_to '質問を投稿する ▶︎', '/0/questions/new', class: "new-question-button-li" %>
  </div>
  <br>
  <div class="questions-index-button">
    <%= link_to 'これまで頂いた質問はこちら ▶︎', '/0/questions', class: "questions-index-button-li" %>
  </div>
  <br>
</div>
