<div class="site-title-sub-about">
  <h2 class="heading">About us</h2>
</div>

<div class="top-view-contents-title">
  <h2>私達について</h2>
</div>

<div class="top-view-contents">
  <p>この世界を知っているかどうかで、お金の使い方だけでなく、人生の時間の使い方も大きく変わる。</p>
  <p>それがはっきりと分かった今、友人達とも相談しながら、このアプリの開発・公開を始めました。</p>
  <br>
  <p>私がこの世界に初めて触れたのは、29歳、20代の最後の年でした。</p>
  <p>大学時代に親しかった、ある友人と、ひょんな事で再会したことがきっかけでした。</p>
  <br>
  <p>勿論、今後の資本主義がどうなるかとか、世界の格差がどうなるかとか、そういったことは分かりませんし、</p>
  <p>自分達の投資が上手く行くかどうかも、言ってしまえば、100%は分からないのが正直な所です。</p>
  <br>
  <p>一方で、この知識が誰かの何かの決断のための一つの材料となり、またその人の背中を押すことになればと思っています。</p>
  <p>そして、その可能性を信じ、今後もコンテンツを充実させて行きたいと思っています。</p>
  <br>
  <p>今後はLINE@なども設け、一部の方々からの直接の問い合わせにも対応出来る仕組みを導入予定です。</p>
  <p>そちらでは、定期的に実施しておりますセミナーなどもご案内させて頂く予定です。</p>
  <br>
  <p>セミナーは、このアプリのコンテンツに近い内容なのですが、face to faceなど、より近い形でのご説明になります。</p>
  <p>セミナーは一部有料となりますが、決して高額なものではありません。</p>
  <p>また、昨今のコロナウイルスに対する懸念により、ZoomなどのWeb会議システムでの実施となる場合もございます。</p>
  <br>
  <p>また、私達が具体的にどのような金融商品に投資しているか、そちらについても、直接問い合わせ頂ければ、具体的にご紹介させて頂こうと思っています。</p>
  <p>そちらについては、このアプリのコンテンツでも今後少しずつ触れて行くつもりではおりますが。</p>
  <p>具体的な商品のご紹介に当たり、私達が皆様からお金を頂くことは決してありませんので、その点はご安心頂ければ幸いです。</p>
  <br>
  <p>まだ始めたばかりの試みであり、至らない点も多々あるかと存じますが、今後とも、何卒よろしくお願いします。</p>
  <br>
</div>