<div class="site-title-sub-0">
  <h2 class="heading">Chapter_1 リスクとリターン</h2> 
</div>

<div class="top-view-contents-title">
  <h2>金融の世界ではリスクとリターンが釣り合っている</h2>
</div>

<div class="top-view-contents">
  <p>金融商品をグルーピングすると、こんな風になります。</p>
  <br>
  <p>大体大きく３つに分けると、Lowのリスクは不動産とか債権、Middleになると、株とか為替、HighのリスクはFX、仮想通貨という感じになります。</p>
  <p>この中で何のことか分かりませんというものがありましたら、ぜひ質問して下さい。匿名で質問可能です。</p>
  <br>
  <p>リスク３つに対して、商品６個位ありますが、これはあくまで一つの目安です。</p>
  <p>たまに不動産が低いからと言って、とにかく不動産という人もいますが、不動産も選ぶものを間違えれば、リスクはハイになります。</p>
  <p>逆にミドルに対しても、きちんと考えてリスクをコントロールして運用すると、Lowのリスクになったりします。</p>
  <p>選ぶ商品や選ぶものでリスクは変わるのですが、ざっくり分けると、こんな風になります。</p>
  <br>
  <p>一方で、大体、金融とか投資をほとんど知らない人間がアクションを取ろうとすると、まずハイのリスクにある、FXや仮想通貨を見ます。</p>
  <p>一番上です。なぜなら、５年後に資産が倍になると言われるよりも、２ヶ月で倍になると言われた方が嬉しいからです。</p>
  <p>それに引っかかります。自分もそうでした。引っかかってはいないですが、ビットコインすげー！買ってみようかなって思っていました（笑）。</p>
  <br>
  <p>このリスクに対してどういう風に向き合うべきか。これは銀行や証券会社とか、機関投資家とか、金融のプロがしていることを一つモデルにして頂ければと思います。</p>
  <p>そういう人達が何をしているかというと、一番最初にLowの部分を見ます。</p>
  <p>顧客から預かったお金の９９％をLowに置いておきます。</p>
  <br>
  <p>置いておくと、どういうことが起こるかというと、しっかり時間をかけるとキャッシュフローというのが生まれます。</p>
  <p>時間をかけるとLowのリスクでリターンも少ないけれど、確実にキャッシュフローが生まれます。</p>
  <p>そのキャッシュフローをミドルのリスクに上げていっている。</p>
  <p>ミドルのリスクは失うリスクも大きいが失っても、大丈夫。ミドルをやめて、またLowに戻れば良い。</p>
  <p>Lowのベースは残っているはず。</p>
  <br>
  <p>ミドルで時間をかけると、また上手くなり、リスクをコントロールして、少しずつキャッシュを上げられるようになる。</p>
  <p>それを更にハイのリスクに上げる。</p>
  <p>端的に言うと、Lowから着実にキャッシュフローを作って、それをリスクの高いもの、すなわちリターンの高いものに少しずつ配分していくのが基本的な考え方になります。</p>
  <br>
  <p>個人の人は、全部Lowに入れると良いかというと、そういう訳でもなくて、一部をミドルに入れてバランスを組めば良いかなという風に考えています。</p>
  <p>皆さんが必ずしもこのパーセンテージにすべきという事は、決してないのですが、こちらを一つの目安として提案させて頂きます。</p>
  <p>そしてLowにしっかりと資産を置いて、時間をかけていくと、キャッシュフローが生まれるので、それを少しずつ、ミドルとかハイに上げていく。</p>
  <p>そうすると少しずつ、ミドルやハイの割合が増えていくというのが、まぁ一つの目安になります。</p>
  <br>
  <p>これをイメージとして持って頂ければなと思っています。</p>
  <p>ですので、今皆さんが資産をどのように持っているか、というのを、ちょっとこれを見ながら考えてもらえると嬉しいです。</p>
  <p>このようにリスクと向き合ってバランスを取ることが資産形成において非常に重要です。</p>
  <br>
  <p>次にポイントになるのが、次章でお話する「投資と投機の違い」を知ることです。</p>
  <br>
  
  <div class="ask-about-questions">
    <h3>質問はございませんか？</h3>
  </div>
  <br>
  <p>　　金融教育2.0では質問がございましたら、回答させて頂きます。</p>
  <br>
  <div class="new-question-button">
    <%= link_to '質問を投稿する▶', '/1/questions/new', class: "new-question-button-li" %>
  </div>
  <br>
  <div class="questions-index-button">
    <%= link_to 'これまで頂いた質問はこちら ▶︎', '/1/questions', class: "questions-index-button-li" %>
  </div>
  <br>
</div>

