<div class="site-title-sub-0">
  <h2 class="heading">Chapter_3 投資と投機②</h2> 
</div>

<div class="top-view-contents-title">
  <h2>投資と投機の最も大きな違いは再現性</h2>
</div>

<div class="top-view-contents">
  <p>投機というのは、簡単に言うなら、宝くじやギャンブル、仮想通貨みたいなものです。</p>
  <p>宝くじは300円で買った時はただの紙切れです。一方で当たると急に何億円にもなったりします。</p>
  <p>ギャンブルもそうです。チップを置く。置いた時は価値がありませんが、何かチャンスに対して当たった時は、価値を持ちます。</p>
  <br>
  <p>仮想通貨もギャンブル性が高く、投機に当たります。</p>
  <p>仮想通貨はある社会、業界、コミュニティにおいて、その通貨が使われるかどうかによって、その価値が上がったり、下がったりします。</p>
  <p>こういう意味で将来のチャンスに対して投げていくので、投機の部類に該当します。</p>
  <br>
  <p>真偽は分からないのですが、ビットコインなどは構造的な問題があるという話を聞いたことがあります。</p>
  <p>世界で発行されたビットコインの殆ど全てを、実はこの世界の非常に限られた人達が持っていて、彼らが一部でもそれを市場で売りに出せば、その価値が暴落するという話です。</p>
  <p>本当かどうかは分かりませんが、果てしなく圧倒的な先行者利益の世界なのかもしれません。</p>
  <br>
  <p>味気なくなってしまうので、投機が良い悪いという議論はここではしません。</p>
  <p>ただ、投機の問題点をここで知って頂ければと思います。</p>
  <br>
  <p>投機の問題点、それはシンプルに、再現性がないということです。</p>
  <br>
  <p>例えば、宝くじで３億円当たった人がいて、その人が来年も再来年も３億円当て続けられるということは基本的にないはずです。</p>
  <p>（確率はゼロではないので、Google検索すると、稀にそういったケースもあるという話も出てきます。こちらも真偽の程は分かりません。）</p>
  <br>
  <p>競馬やカジノなども、基本的に再現性が出ないように出来ています。</p>
  <p>（競馬やカジノで稀に勝ち続けている人もいるのかもしれませんが、そういった議論はここでは置いておきます。）</p>
  <br>
  <p>再現性を理解していないと、どういったことが起こるか。</p>
  <p>投機で当たると一気に収入が上がり、生活水準も上がります。</p>
  <p>一方で、問題は収入が下がった後に生活水準を下げるのが容易でないことです。</p>
  <p>どうしても以前の裕福な生活を引きずり、いよいよ立ち行かなくなった段階で生活水準を下げる。</p>
  <p>そうなってしまうパターンが多いです。</p>
  <br>
  <p>例えば、アメリカのプロ野球選手は、引退後に多くの人が破産するそうです。</p>
  <p>グラウンドで活躍していた頃にものすごい年俸をもらっていた選手達にとって、引退後に生活水準を下げていくのは非常に難しいようです。</p>
  <br>
  <p>繰り返しますが、投機には再現性がありません。</p>
  <p>投機でもし大きなものが得られたら、それを投資に回していく方が賢明です。</p>
  <br>
  <p>以上が投資と投機の違いになります。</p>
  <p>分からないことがありましたら、是非質問してみて下さいね。</p>
  <br>
  <p>それでは投資からやって行きましょう！</p>
  <p>さて、何から投資したら良いのか？</p>
  <p>次章からその話をさせて頂きます。</p>
  
  <div class="next-action-button">
    <%= link_to '<< Contentsへ戻る', '/contents', class: "back-to-contents-li" %>
    <%= link_to 'Chapter_4    へ >>', '/4', class: "next-chapter-li" %>
  </div>
  <br>
  
  <div class="ask-about-questions">
    <h2>質問はございませんか？</h2>
  </div>
  <p>　金融教育2.0では質問がございましたら、回答させて頂きます。</p>
  <br>
  <div class="new-question-button">
    <%= link_to '質問を投稿する▶', '/3/questions/new', class: "new-question-button-li" %>
  </div>
  <br>
  <div class="questions-index-button">
    <%= link_to 'これまで頂いた質問はこちら ▶', '/3/questions', class: "questions-index-button-li" %>
  </div>
  <br>
</div>

