<div class="site-title-sub-0">
  <h2 class="heading">Chapter_2 投資と投機①</h2> 
</div>

<div class="top-view-contents-title">
  <h2>金融の世界での「資産」とは</h2>
</div>

<div class="top-view-contents">
  <p>この「投資と投機の違い」は実は今回お話することの中では、最も価値が高いと思っています。</p>
  <p>皆様がこのアプリを見て頂いた価値というのは、このページだけでも十分に回収出来るのではと思っています。</p>
  <br>
  <p>日本人は投資と投機の違いを知らないことが多いですが、実はこの２つは明確に異なります。</p>
  <br>
  <p>まず、言葉の定義からお話します。</p>
  <p>投資は後ろに「産む」という文字が隠れており、「資産に対してお金を投げる。」これを「投資」と書きます。</p>
  <br>
  <p>それに対して、投機という言葉には、後ろに「会う」という文字が隠れており、「機会に対してお金を投げる。」これを「投機」と書きます。</p>
  <p>英語で言うと「Chance」に対してお金を投げるということです。</p>
  <br>
  <p>資産に対してお金を投げる「投資」。これは分かりましたと。</p>
  <p>それでは資産とは何なのか。</p>
  <p>資産は現在の金融の世界では、実は下記の４つしかありません。</p>
  <br>
  <p>株、不動産、債権、そして為替</p>
  <br>
  <p>もう一つ、資産には定義があります。</p>
  <br>
  <p>持っているだけで、時間をかければお金が生まれるもの。</p>
  <p>繰り返します。持っているだけで、時間をかければキャッシュ・フローが生まれるもの、それが「資産」です。</p>
  <p>その資産に対して、お金を投げて、時間をかけてキャッシュ・フローを生んで行く。</p>
  <p>これを投資と言います。</p>
  <br>
  <p>まず資産の一つが株です。株は持っているだけで、お金を生みます。なぜなら株には配当があるからです。</p>
  <p>１年後にその会社が潰れていなければ、自分自身の出したお金の何％かを利子、配当としてもらえると言うことです。</p>
  <br>
  <p>ちなみに、日本取引所グループがまとめた、日本の東証一部上場企業の株式の平均利回りは、この２０年、平均して１〜２％でした。</p>
  <p>まれに利回り６％以上というようなケースも出てきますが、日本の企業で３％以上の配当でしたら、十分に高配当株と言えます。</p>
  <br>
  <p>株の利回りは、同じ会社のものでも、その会社の方針や業績に応じて毎年変わります。</p>
  <p>そのため、今年高配当だった会社が来年も高配当とは限りません。</p>
  <br>
  <p>二つ目は不動産です。</p>
  <p>不動産も資産の一つです。賃貸で借りる場合はお金を払って使わせてもらいますが、立場を逆に変えることが出来ます。</p>
  <p>自分自身が不動産を持って、それを他の人にお貸しするということです。</p>
  <br>
  <p>不動産を持っていれば、家賃がどんどん入って来ます。</p>
  <p>また不動産は一般的にはかなり安定した資産であり、世の中がどうなったかに影響されにくい側面があります。</p>
  <p>上記のように不動産は非常に魅力的なのですが、不動産を持てるかどうかは、その人の与信によって変わります。</p>
  <br>
  <p>三つ目が債権です。</p>
  <p>債権は説明が意外とできない場合が多いです。ネットで検索しても結構分かりにくい説明が出てきます。</p>
  <p>債権は分かりやすくお伝えしますと、お金を借りたい人がいます。そしてお金が余っている人がいます。</p>
  <p>お金を余っている人がお金を借りたい人に貸してあげる。これを市場の中でやっているのが債権です。</p>
  <br>
  <p>代表的なものは国債です。お金を借りたい人は国です。貸してあげると、国がありがとうと言うことで、１年後や５年後、利子を載せて返してくれる。</p>
  <p>これが国債の仕組みになります。</p>
  <br>
  <p>国債の利子ですが、イメージ出来ますでしょうか？</p>
  <p>大体０．１％程度です。</p>
  <p>前回お伝えしました「リスクとリターン」で考えて頂けると分かりやすいです。</p>
  <p>平均利回り１〜３％の東証一部上場企業に比べて、国は更に潰れにくいということです。</p>
  <br>
  <p>債権は一般的に国債がメインですが、社債というものもあります。</p>
  <p>例えば、以前話題になったソフトバンクの社債の利回りは基本２％前後です。</p>
  <br>
  <p>最後に為替です。</p>
  <p>こちらは単純にお金と思って頂ければと思います。</p>
  <p>例えば、銀行に預金を置いておいたら、利子が増えていきます。これも為替の一つですね。</p>
  <p>FXは外国と日本との比較で捉えられることが多いですが、外国の通貨の価値と日本の通貨の価値のバランスを使って、自分の資産を増やしていくのがFXです。</p>
  <p>例えば、ドル円、一ドルが何円ですと言うのがあるが、ドルの価値が上がれば、円の価値が上がる時もある。このバランスを使って、外国と日本との差をとって自分自身の資産を増やしていくのがFXです。</p>
  <p>ですので、これも為替の一種です。</p>
  <br>
  <p>為替も時間をかけていくと、お金が増えていきます。</p>
  <br>
  <p>以上のように、株、不動産、債権、そして為替。この４つが金融市場において資産と言われます。</p>
  <p>上手くバランスを取りながら、この４つにお金を投げていくことを考えてもらえればと思います。</p>
  <br>
  <p>少し長くなりましたが、基本的に投資というのは、こういう概念です。</p>
  <p>一方で日本人の場合、この中にもう一つ、次章でお話する投機の要素が入ってしまっている場合が多いです。</p>

  <div class="next-action-button">
    <%= link_to '<< Contentsへ戻る', '/contents', class: "back-to-contents-li" %>
    <%= link_to 'Chapter_3 投資と投機②へ >>', '/3', class: "next-chapter-li" %>
  </div>
  <br>
  
  <div class="ask-about-questions">
    <h2>質問はございませんか？</h2>
  </div>
  <p>　金融教育2.0では質問がございましたら、回答させて頂きます。</p>
  <br>
  <div class="new-question-button">
    <%= link_to '質問を投稿する▶', '/2/questions/new', class: "new-question-button-li" %>
  </div>
  <br>
  <div class="questions-index-button">
    <%= link_to 'これまで頂いた質問はこちら ▶', '/2/questions', class: "questions-index-button-li" %>
  </div>
  <br>
</div>

