<div class="site-title-sub-0">
  <h2 class="heading">Chapter_2 投資と投機①</h2> 
</div>

<div class="top-view-contents-title">
  <h2>金融の世界での「資産」とは</h2>
</div>

<div class="top-view-contents">
  <p>この「投資と投機の違い」は実は今回お話することの中では、最も価値が高いと思っています。</p>
  <p>皆様がこのアプリを見て頂いた価値というのは、このページだけでも十分に回収出来るのではと思っています。</p>
  <br>
  <p>日本人は投資と投機の違いを知らないことが多いですが、実はこの２つは明確に異なります。</p>
  <br>
  <p>まず、言葉の定義からお話します。</p>
  <p>投資は後ろに「産む」という文字が隠れており、「資産に対してお金を投げる。」これを「投資」と書きます。</p>
  <br>
  <p>それに対して、投機という言葉には、後ろに「会う」という文字が隠れており、「機会に対してお金を投げる。」これを「投機」と書きます。</p>
  <p>英語で言うと「Chance」に対してお金を投げるということです。</p>
  <br>
  <p>資産に対してお金を投げる「投資」。これ分かりましたと。</p>
  <p>それでは資産とは何なのか。</p>
  <p>資産は現在の金融の世界では、実は下記の４つしかありません。</p>
  <br>
  <p>株と不動産と債権、そして為替</p>
  <br>
  <p>もう一つ、資産には定義があります。</p>
  <br>
  <p>持っているだけで、時間をかければお金が生まれるもの。</p>
  <p>繰り返します。持っているだけで、時間をかければキャッシュ・フローが生まれるもの、それが「資産」です。</p>
  <p>その資産に対して、お金を投げて、お金を投げて時間をかけてキャッシュ・フローを生んで行く。</p>
  <p>これを投資と言います。</p>
  
  
  <div class="next-action-button">
    <%= link_to '<< Contentsへ戻る', '/contents', class: "back-to-contents-li" %>
    <%= link_to 'Chapter_3 投資と投機②へ >>', '/3', class: "next-chapter-li" %>
  </div>
  <br>
  
  <div class="ask-about-questions">
    <h2>質問はございませんか？</h2>
  </div>
  <p>　金融教育2.0では質問がございましたら、回答させて頂きます。</p>
  <br>
  <div class="new-question-button">
    <%= link_to '質問を投稿する▶', '/2/questions/new', class: "new-question-button-li" %>
  </div>
  <br>
  <div class="questions-index-button">
    <%= link_to 'これまで頂いた質問はこちら ▶', '/2/questions', class: "questions-index-button-li" %>
  </div>
  <br>
</div>

