<div class="site-title-sub-0">
  <h2 class="heading">Chapter_3 投資と投機②</h2> 
</div>

<div class="top-view-contents-title">
  <h2>投資と投機の最も大きな違いは再現性</h2>
</div>

<div class="top-view-contents">
  
  <br>
  
  <div class="ask-about-questions">
    <h2>質問はございませんか？</h2>
  </div>
  <p>　金融教育2.0では質問がございましたら、回答させて頂きます。</p>
  <br>
  <div class="new-question-button">
    <%= link_to '質問を投稿する▶', '/3/questions/new', class: "new-question-button-li" %>
  </div>
  <br>
  <div class="questions-index-button">
    <%= link_to 'これまで頂いた質問はこちら ▶', '/3/questions', class: "questions-index-button-li" %>
  </div>
  <br>
</div>

