/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
  padding: 8px 0;
  width: 100%;
  color: #fff;
  background-color: #000;
}

header .inner {
  margin: 0 auto;
  width: 1040px;
  height: 37px;
}

header .headerTtl {
  float: left;
  width: 400px;
}

header h1 {
  float: left;
  width: 200px;
  height: 37px;
}

header .navvar {
  float: right;
  padding: 7px 40px 0 0;
  text-align: right;
}

header .navvar li {
  display: inline-block;
}

header .navvar li a{
  display: table-cell;
  padding: 0 20px;
  font-size: 14px;
  line-height: 1em;
  color: #fff;
  vertical-align: middle;
  border-left: 1px solid #ccc;
}

header a{
  text-decoration: none;
  color: #fff;
}

.site-title-sub{
  text-align: center;
  margin: 0 auto;
  padding: 25vh 0;
  width: 1040px;
  color: #FF1493;
  letter-spacing: 5px;
  font-size: 1.5rem;
  background: url('https://beiz.jp/images_T/cherry-blossom/cherry-blossom_00035.jpg') fixed;
  background-size: cover;
}

.top-view-contents-title{
  text-align: center;
  padding: 30px 0;
}

.top-view-contents{
  margin: 0 auto;
  width: 700px;
  line-height: 25px;
}

.table-of-contents-title {
  text-align: center;
  margin: 0 auto;
  padding: 30vh 0;
  width: 1040px;
  color: white;
  letter-spacing: 5px;
  font-size: 1.5rem;
  background: url('https://backgrounds-free.com/highresolution/808-free-backgrounds.png') fixed;
  background-size: cover;
}

